body {
    margin-right: 152px;
    margin-left: 152px;
    background-color: #111111;
}
header{
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 161px;
}

ul{
    font-size: 18px;
    display: flex;
    gap: 41px;
}
.mnu{
    color: #FFFFFF;
    text-decoration: none;
    list-style-type:none;
}
.mnu:hover{
    color: #E3B748;
    transition-duration: 0.3s;
}
.btn{
    display: flex;
    height: 47px;
    width: 172px;
    border: 2px solid  #FFFFFF;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.btn:hover{
   background-color: #E3B748;
   transition-duration: 0.5s; 
}

.main-block{
  display: flex;
  align-items: center;
}
.img-main{
    position: relative;
    left: 158px;
}
.text-main{
    display: flex;
    flex-direction: column;
}
h1{
    color: #FFFFFF;
    font-size: 66px;
    line-height: 97.37px;
}
.text-main p{
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.3;
    line-height: 29.25px;
}
 .text-main input{
    position: relative;
    padding-left: 62px;
    border-radius: 43px;
    opacity: 0.1;
    background-color: #FFFFFF;
    width: 438px;
    height: 74px;
}
.btn-input button{
    position: relative;
    width: 137px;
    height: 62px;
    border-radius: 43px;
    background-color: #E3B748;
    color: #000000;
}
.btn-input button:hover{
    box-shadow: 2px 2px 10px 2px #E3B748;
    transition-duration: 0.4s;
}

/* Page 2 */

.two_blocks{
    margin-top: 392px;
    display: flex;
    justify-content: space-between;

}
.rigth-block p{
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.3;
}

h2{
    display: flex;
    color: #FFFFFF;
    font-size: 54px;
}
.line{
    height: 206px;
    width: 1px;
    background-color: #6A6A6A;
    margin-right: 87px;
    margin-left: 184px;
}
h3{
    color: #FFFFFF;
    font-size: 32px;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 31px;
    margin-top: 170px;
    
}
.card-act{
    background-color: #2E2E2E;
    border: 1.4px solid rgba(255, 255, 255, 0.1);;
    border-radius: 14px;
    width: 359px;
    height: 377px;
}
.card{
    background-color: #1D1D1D;
    border: 1.4px solid rgba(255, 255, 255, 0.1);;
    border-radius: 14px;
    width: 359px;
    height: 377px;
}
.elips{
    position: relative;
    top: 28px;
    left: 24px;
    border-radius: 50%;
    background-color: #FFFFFF;
    height: 101px;
    width: 101px;
}

h4{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 54px;
}
.elips > img{
    position: relative;
    top: 28px;
    left: 24px;
}
.card-text{
    position: relative;
    top: 28px;
    left: 23px;
    line-height: 22.75px;
    font-weight:500;
    font-size: 14px;
}
.card-text > p{
    font-weight:500;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.3;
}
h5{
    color: #FFFFFF;
    font-size: 24px;
}
.btn-card button{
    height: 43px;
    width: 121px;
    border-radius: 23.5px;
    background-color: #E3B748;
    border: 0px;

}
.btn-card button:hover{
    box-shadow: 2px 2px 10px 2px #E3B748;
    transition-duration: 0.4s;
}

/* Page 3 */
.cards-photos{
    margin-top: 179px;
}
h6{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    color: #FFFFFF;
}
.line-photo{
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-photo{
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-photo:hover{
    box-shadow:2px 2px 10px 2px #E3B748;
    transition-duration: 0.5s;
}
/* Page 4 */
.container{
    display: flex;
    align-items: center;
    gap: 561px;
    margin-top: 186px;
}
.container p{
    font-size: 54px;
    color: #FFFFFF;
}
.move-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
.left-btn button{
    border-radius: 50%;
    width: 90.61px;
    height: 90.61px;
}
.right-btn button{
    background-color: #E3B748;
    border-radius: 50%;
    width: 90.61px;
    height: 90.61px;
}
.client-cards{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 104px;
    gap: 30px;
}
.cli-card{
    background-color: #1D1D1D;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    width: 359px;
    height: 368px;
    
}
.client-cards img{
    position: relative;
    top: 36px;
    left: 26px;
}
.name-cli p{
    position: relative;
    top: 20px;
    left: 24px;
    font-size: 24px;
    color: #FFFFFF;
}
.text-under-name p{
    position: relative;
    top: 10px;
    left: 26px;
    font-size: 14px;
    color: #FFFFFF;
}
.text-cadr-cli{
    position: relative;
    top: 22px;
    left: 26px;
    line-height: 22.75px;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 30%;
}
.cli-card-act{
    background-color: #2E2E2E;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    width: 359px;
    height: 368px;
}
.team{
    width: 100%;
    margin-top: 188px;
}
.team p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 54px;
}
.team-cards{
    margin-top: 109px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-team{
    display: flex;
    width: 344px;
    height: 109px;
    border-radius: 14px;
}
.card-team:hover{
    background-color: #E3B748;
    transition-duration: 0.5s;
}
.card-team p:hover{
    color: #000000;
}

.elips-team{
    border-radius: 50%;
    width: 68px;
    height: 68px;
    position: relative;
    left: 26px;
    top: 18px;
    background-color: #000000;
   
}
.name-team{
    display: flex;
    flex-direction: column;
    
}
.name-team p{
    display: flex;
    position: relative;
    left: 48px;
    font-size: 24px;
}
.cases p{
    color: #FFFFFF;
    opacity: 0.3;
    position: relative;
    left: 39px;
    bottom: 30px;
    font-size: 14px;
}
.card-team-act{
    display: flex;
    width: 344px;
    height: 109px;
    border-radius: 14px;
    background-color: #E3B748;
}
.card-team-act p{
    color: #373737;
}
.card-team-act .cases p{
    color: #000000;
    opacity: 0.4;
}